{{ define "main" }}
{{ $paginator := (.Paginator 13).Pages }}
{{ if not .Paginator.HasPrev }}
    {{ $paginator = (.Paginator 13).Pages }}
{{ end }}

<section>
    <div class="container container__content">
        <h1>Sermons</h1>
        {{ $latest := index $paginator.ByDate.Reverse 0 }}
        {{ if not .Paginator.HasPrev }}
        <a href="{{ $latest.Permalink }}" class="sermon-link">
            <div class="sermon-card sermon-card--featured">
                {{ with $latest }}
                    <img src="{{ .Params.Image }}" />
                    <div class="sermon-card__meta">
                        <span class="tag">Latest Sermon</span>
                        <p>{{ .Title }}</p>
                    </div>
                    <div class="overlay"></div>
                {{ end }}
            </div>
        </a>
        {{ $pages := .Pages }}
        {{ with $latest.Params.Series }}
        <div class="sermon-list__section">
            <div class="row" style="--rep: 2">
                <h2 class="sermon-section-title">
                    Current Series
                </h2>
                <a href="/series/{{ . }}" class="btn btn--gray">
                    View Series
                </a>
            </div>

            <div class="sermon-grid--current-series">
                <div class="scroll-x">
                    {{ range where $pages.Reverse "Params.series" . }}
                    <a href="{{ .Permalink }}" class="sermon-link">
                        <div class="sermon-card">
                            <img src="{{ .Params.Image }}" />
                            <div class="sermon-card__meta">
                                <p>{{ .Title }}</p>
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}

        <div class="sermon-list__section">
            <h2 class="sermon-section-title">
                All Sermons
            </h2>

            <div class="sermon-grid">
            {{ range after 1 $paginator.ByDate.Reverse }}
                <a href="{{ .Permalink }}" class="sermon-link">
                    <div class="sermon-card">
                        <img src="{{ .Params.Image }}" alt="Sermon thumbnail" />
                    </div>
                    <p class="sermon-link__text">{{ .Title }}</p>
                </a>
            {{ end }}
            </div>
        </div>
    </div>

    <div class="pagination">
        {{ if .Paginator.HasPrev }}
            <a class="btn btn--gray" href="{{ .Paginator.Prev.URL }}">Newer Sermons</a>
        {{ end }}
        <p>{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</p>
        {{ if .Paginator.HasNext }}
            <a class="btn btn--gray" href="{{ .Paginator.Next.URL }}">Older Sermons</a>
        {{ end }}
    </div>
</section>
{{ end }}
