{{ define "main" }}

{{ $paginator := (.Paginator 13).Pages }}
{{ if not .Paginator.HasPrev }}
    {{ $paginator = (.Paginator 13).Pages }}
{{ end }}

<section>
    <div class="container container__content">
        <div class="blog-title-row">
            <h1>{{ .Title }}</h1>
            <form id="blog-subscribe" style="margin-top: 0">
                <div class="form-subscribe-form-row">
                    <div class="form-control">
                        <label for="subscribe-email">Email Address</label>
                        <input type="email" id="subscribe-email" required />
                    </div>
                    <button class="btn btn--gray" type="submit" id="subscribe-button">Subscribe</button>
                </div>
            </form>
        </div>
        <div class="blog__container">
            {{ $latest := index $paginator.ByDate.Reverse 0 }}
            {{ if not .Paginator.HasPrev }}
            <a href="{{ $latest.Permalink }}" class="sermon-link" aria-label="{{ $latest.Title }}">
                <div class="sermon-card sermon-card--featured">
                    {{ with $latest }}
                    <img src="{{ .Params.Image }}" />
                    <div class="sermon-card__meta">
                        <span class="tag">Latest Post</span>
                        <p>{{ .Title }}</p>
                    </div>
                    <div class="overlay"></div>
                    {{ end }}
                </div>
            </a>
            {{ end }}
            <div class="blog-grid">
                {{ range after 1 $paginator.ByDate.Reverse }}
                <a href="{{ .Permalink }}" class="sermon-link" aria-label="{{ .Title }}">
                    <div class="blog-card">
                        <div class="blog-card__img">
                            <img src="{{ .Params.Image }}" alt="Post thumbnail" />
                        </div>
                        <h2>{{ .Title }}</h2>
                        <span class="tag blog-card__category">{{ index .Params.Topics 0 }}</span>
                    </div>
                </a>
                {{ end }}
            </div>
        </div>
        <div class="pagination">
            {{ if .Paginator.HasPrev }}
            <a class="btn btn--gray" href="{{ .Paginator.Prev.URL }}">Newer Posts</a>
            {{ end }}
            <p>{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</p>
            {{ if .Paginator.HasNext }}
            <a class="btn btn--gray" href="{{ .Paginator.Next.URL }}">Older Posts</a>
            {{ end }}
        </div>
    </div>
</section>
<script>
    !async function() {
      document.getElementById('blog-subscribe').addEventListener('submit', async (e) => {
        e.preventDefault();
        const emailEl = document.getElementById('subscribe-email');
        emailEl.disabled = true;
        const email = emailEl.value;

        const btn = document.getElementById('subscribe-button');
        btn.disabled = true;
        btn.innerText = 'Submitting...';

        await fetch('/.netlify/functions/subscribe', {
          method: 'POST',
          body: JSON.stringify({ email }),
          headers: {
            'Content-Type': 'application/json',
          },
        });

        document.querySelector('.form-subscribe-form-row').remove();
        btn.remove();

        const title = document.createElement('p');
        const italic = document.createElement('em');
        italic.innerText = 'Subscribed!';
        title.append(italic);
        title.style.marginTop = 0;
        e.target.append(title);
      });
    }();
</script>
{{ end }}
