{{ define "main" }}
<section class="jumbotron--single">
    <img src="{{ .Params.Image }}" {{ with .Params.ImagePosition }} style="--position: {{ . }}" {{ end }} />
    <div class="overlay"></div>
    <div class="jumbotron__content">
        <h1>{{ .Title }}</h1>
    </div>
</section>
<section>
    <div class="container container--narrow container__content">
        {{- if eq .Section "blog" -}}
        <p class="byline">
            {{- with .Params.Author.Name -}}
            <small>By {{ . }}</small>
            {{- end -}}
            {{- if isset .Params.Author "name" -}}
            <span></span>
            {{- end -}}
            <small>{{ .Date.Format "January 2, 2006" }}</small>
        </p>
        {{- end -}}
        {{ .Content | safeHTML }}
    </div>
</section>
{{ end }}
