.blog-card {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,.16);

  a {
    color: var(--jet);
  }

  h2 {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 12px;
  }

  p {
    padding: 0 12px 24px;
  }
}

.blog-card__img {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  box-sizing: border-box;
  height: 0;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center center;
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 24px;
  grid-auto-rows: 1fr;

  @media screen and (max-width: 1400px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: 1024px) and (min-width: 960px) {
    grid-template-columns: minmax(0, 1fr);
  }

  @media screen and (max-width: 776px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.blog__container > .sermon-link ~ .blog-grid {
  margin-top: 24px;
}

.blog-card__category {
  margin-left: 12px;
  margin-bottom: 18px;
}

.byline {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  grid-gap: 8px;
  align-content: center;

  * {
    line-height: 1;
  }

  span {
    height: 100%;
    display: block;
    width: 1px;
    background: var(--black);
  }
}
