.container {
  width: 80%;
  margin: 0 auto;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h2 {
    margin-top: 56px;
  }
}

.container--aside {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: minmax(50%, 2fr) minmax(0, 1fr);

  @media screen and (max-width: 960px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.container--narrow {
  width: 50%;

  @media screen and (max-width: 960px) {
    width: 75%;
  }

  @media screen and (max-width: 441px) {
    width: 80%;
  }
}

.container--narrow.container--left {
  margin: 0 auto 0 10%;
}

.container__cards--full-width {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
  margin: 44px auto 0;

  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: 690px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.container__content {
  padding: 48px 0;
  font-size: 18px;

  p {
    line-height: 2;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  ul, ol {
    padding-left: 36px;
    margin-top: 12px;
  }

  li {
    margin: 12px 0;
    line-height: 2;
  }

  blockquote {
    margin: 24px 0 24px 48px;
    position: relative;

    @media screen and (max-width: 960px) {
      margin-left: 24px;
    }

    p {
      font-weight: 300;
      font-size: 20px;
    }

    &::before,
    &::after {
      position: absolute;
      font-family: "Times New Roman", serif;
      font-weight: 800;
      font-size: 120px;
      z-index: -1;
      color: var(--blue);
      opacity: 0.4;
    }

    &::before {
      content: '“';
      left: -24px;
      top: -24px;
    }

    &::after {
      content: '”';
      right: 0;
      bottom: -60px;
    }
  }
}

.container--two-col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 24px;
  align-items: center;

  @media screen and (max-width: 411px) {
    grid-template-columns: minmax(0, 1fr);
  }
}
