.gallery {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 12px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  a {
    color: var(--black);
    text-decoration: none;
  }

  p {
    text-align: center;
    padding-bottom: 8px;

    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}
