.jumbotron {
  display: grid;
  position: relative;
  max-height: 756px;
  height: 56vw;
  align-items: center;
  margin-bottom: -58px;

  @media screen and (max-width: 960px) {
    height: 90vh;
  }
}

.jumbotron video {
  position: absolute;
  top: -58px;
  z-index: -2;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;

  @media screen and (max-width: 960px) {
    display: none;
  }
}

.jumbotron .mobile-alt {
  display: none;
  position: absolute;
  top: -58px;
  z-index: -2;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;

  @media screen and (max-width: 960px) {
    display: block;
  }
}

.jumbotron .jumbotron__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.7;
  top: -58px;
  z-index: -1;
}

.jumbotron__content {
  width: 80%;
  margin: 0 auto;
  color: var(--white);

  h1 {
    font-size: 65px;
    font-weight: 900;
    max-width: 550px;
    color: var(--white);

    @media screen and (max-width: 1110px) {
      font-size: 50px;
    }

    @media screen and (max-width: 960px) {
      font-size: 48px;
    }

    @media screen and (max-width: 767px) {
      font-size: 42px;
    }
  }

  p {
    font-size: 24px;
    font-weight: 300;
    margin: 40px 0 48px;

    @media screen and (max-width: 960px) {
      font-size: 18px;
      margin: 24px 0 16px;
    }
  }

  ins {
    text-decoration: none;
    position: relative;
    z-index: 0;

    &::after {
      content: '';
      width: calc(100% + 8px);
      height: 25px;
      background: var(--blue);
      display: block;
      position: absolute;
      left: -4px;
      z-index: -1;
      bottom: 4px;
    }
  }
}

.jumbotron__buttons {
  display: flex;

  a:first-child {
    margin-right: 12px;
  }
}

.jumbotron--single {
  height: 75vh;
  position: relative;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center var(--position, center);
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(0deg, #000a, #0000);
  }

  .jumbotron__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  h1 {
    font-size: 92px;
    text-align: center;
    margin: 56px auto;

    @media screen and (max-width: 960px) {
      font-size: 60px;
    }
  }
}
