a:not([class]) {
  color: var(--blue);
  text-decoration: none;
  position: relative;
  padding: 4px 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    height: 3px;
    background: var(--blue);
    width: 0;
    left: 0;
    transition: width 0.2s ease-out;
  }

  &:focus::after,
  &:hover::after {
    width: 100%;
  }
}

