:root {
  --blue: #3C91E6;
  --white: #FAFFFD;
  --brand-green: #acc35b;
  --coral: #FA824C;
  --black: #342E37;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@import 'components';
@import 'titles';
@import 'header';
@import 'jumbotron';
