:root {
  --blue: #3C91E6;
  --white: #FAFFFD;
  --brand-green: #acc35b;
  --red: #D72638;
  --coral: #FA824C;
  --black: #342E37;
  --gray: #f1f3f6;
  --deep-purple: #140F2D;
  --jet: #010400;

  --tag-yellow: #FFC400;
  --tag-green: #57D9A3;
  --tag-purple: #998DD9;
  --tag-red: #FF7452;
  --tag-pink: #F686BD;

  --section-border: #dfdfe2;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.spacer {
  margin-top: calc(var(--top) * 8px);
  margin-bottom: calc(var(--bottom) * 8px);
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--rep), minmax(0, max-content));
  grid-gap: 20px;
  align-items: center;
}

ul.no-style {
  list-style: none;
}

// Mixins
@import 'card.mixin';

// Basics
@import 'link';
@import 'titles';
@import 'button';
@import 'header';
@import 'jumbotron';
@import 'container';
@import 'card';
@import 'section';
@import 'pagination';
@import 'tag';
@import 'menu';

// Sections
@import 'sermon-list';
@import 'sermon-page';
@import 'footer';
@import 'video';
@import 'events';
@import 'classes';
@import 'locations';
@import 'blog';
@import 'resources';

// Modifiers
@import 'scroll';

// Shortcodes
@import 'gallery';
