section.block {
  padding: 128px 0;
  box-sizing: border-box;
  background: var(--white);
  width: 100%;
  position: relative;
  z-index: 0;
}

.section-title {
  text-align: center;
  color: var(--black);

  p {
    margin: 0 auto;
    width: 50%;
    line-height: 2;

    @media screen and (max-width: 960px) {
      width: 75%;
    }

    @media screen and (max-width: 441px) {
      width: 100%;
    }
  }

  a.btn {
    margin: 0 auto;
  }
}

.section-title--left {
  text-align: left;

  p {
    margin: 0;
  }

  a.btn {
    margin: 0;
  }
}

.section-title--right {
  text-align: right;

  p {
    margin: 0;
    margin-left: auto;
  }

  a.btn {
    margin: 0;
    margin-left: auto;
  }
}

section.block--alt {
  background: var(--gray);
}

section.block--dark {
  background: var(--jet);
}

.section-title h2 {
  margin-bottom: 24px;
}

.block__img {
  min-height: 500px;

  h2, p {
    color: var(--white);
  }
}

.block__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  z-index: -2;
}

.block__img .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background 0.2s ease-out;
}

.iphone {
  max-height: 600px;
  overflow: hidden;
  position: relative;
  margin-bottom: -128px;
  min-width: 400px;

  @media screen and (max-width: 411px) {
    display: none;
  }

  .iframe-container {
    width: 100%;
    position: absolute;
    top: 0;
    height: 0;
    padding-bottom: 171%;
  }
}

.iframe-container iframe {
  width: 65%;
  height: 100%;
  position: absolute;
  top: 11%;
  bottom: 0;
  left: 17.5%;
  border: 0;
  z-index: -1;
}

.iphone-svg {
  width: 100%;
  z-index: 1000;

  svg {
    width: 100%;
  }
}
