.sermon-card {
  @include card;

  @media screen and (max-width: 960px) {
    &.sermon-card__home--featured {
      padding-bottom: 100%;
    }
  }

  @media screen and (max-width: 411px) {
    &.sermon-card--featured {
      padding-bottom: 100%;
    }
  }
}

a.sermon-link {
  text-decoration: none;
}

a.sermon-link:hover,
a.sermon-link:hover .sermon-card--featured,
a.sermon-link:hover .sermon-card__home--featured {
  @include card-link--hover;
}

.sermon-card--featured {
  margin-top: 32px;
}

.sermon-card__home--featured {
  margin-top: 0;
}

.sermon-grid {
  @include card-grid;
}

.sermon-section-title {
  font-size: 16px;
}

.sermon-list__section {
  margin-top: 32px;
}

.sermon-card__meta {
  @include card-meta;
}

.sermon-card .overlay {
  @include card-overlay;
}

.sermon-grid--current-series {
  width: 100%;
  overflow-x: auto;
  padding: 12px 0;
  box-sizing: border-box;

  .sermon-card {
    box-shadow: none;

    p {
      font-size: 18px;
    }
  }
}

.sermon-grid__recent {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 8px;
  margin: 24px 0 48px;

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: 960px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.sermon-link__text {
  font-weight: 600;
  color: var(--black);
  margin-top: 8px;
  margin-bottom: 12px;
}

.row .sermon-section-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
