.tag {
  font-size: 12px;
  box-sizing: border-box;
  padding: 4px 8px;
  background: var(--gray);
  border-radius: 8px;
  color: var(--black);
  margin-bottom: 8px;
  width: max-content;
  display: block;
  text-decoration: none;
  font-weight: 800;
}

.tag--yellow {
  background: var(--tag-yellow);
}

.tag--green {
  background: var(--tag-green);
}

.tag--red {
  background: var(--tag-red);
}

.tag--purple {
  background: var(--tag-purple);
}

.tag--pink,
.tag--marriage {
  background: var(--tag-pink);
}
