<footer>
    <div class="info">
        <div>
            <div class="contact">
                <p class="header"><strong>Contact Us</strong></p>
                <p>4801 N 144th Street</p>
                <p>Omaha, NE 68116</p>
                <p><a href="tel:+14024929111">(402) 492-9111</a></p>
                <p><a href="mailto:info@flatlandchurch.com">info@flatlandchurch.com</a></p>
            </div>
            <div class="spacer" style="--top: 2"></div>
            <div class="social">
                <a class="btn btn__icon" href="https://facebook.com/flatlandchurchomaha">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn__icon" href="https://vimeo.com/flatlandchurch">
                    <i class="fab fa-vimeo-v"></i>
                </a>
                <a class="btn btn__icon" href="https://instagram.com/flatlandchurch">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn__icon" href="https://twitter.com/flatlandchurch">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>

        <div class="locations">
            <div>
                <p><i class="fas fa-map-marker-alt"></i> <strong>Flatland 144</strong></p>
                <p>Sunday – 9:30AM</p>
                <p>Sunday – 11AM</p>
            </div>
            <div>
                <p><i class="fas fa-map-marker-alt"></i> <strong>Flatland 174</strong></p>
                <p>Sunday – 11AM</p>
            </div>
        </div>
    </div>

    <div class="footer-menu">
        <div class="footer-menu-column">
            <p class="header"><strong>About</strong></p>
            <ul>
                <li><a href="/beliefs">Beliefs</a></li>
                <li><a href="/values">Values</a></li>
                <li><a href="/leadership">Leadership</a></li>
                <li><a href="/locations">Locations</a></li>
            </ul>
        </div>
        <div class="footer-menu-column">
            <p class="header"><strong>Resources</strong></p>
            <ul>
                <li><a href="/sermons">Sermons</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/rightnow">RightNow Media</a></li>
                <li><a href="https://omahaministry.com">Omaha School of Ministry</a></li>
            </ul>
        </div>
        <div class="footer-menu-column">
            <p class="header"><strong>Ministries</strong></p>
            <ul>
                <li><a href="/groups">Groups</a></li>
                <li><a href="/kids">Kids</a></li>
                <li><a href="/youth">Youth</a></li>
                <li><a href="/college">College</a></li>
            </ul>
        </div>
        <div class="footer-menu-column">
            <p class="header"><strong>Join Us</strong></p>
            <ul>
                <li><a href="/visit">Visit</a></li>
                <li><a href="https://flatland.online.church">Watch Live</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </div>
        <div class="footer-menu-column">
            <p class="header"><strong>Finances</strong></p>
            <ul>
                <li><a href="/give">Give</a></li>
                <li><a href="/the-move">The Move</a></li>
            </ul>
        </div>
    </div>

    <div class="sub-footer">
        <div class="subnav">
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
            <a href="https://flatland.churchcenter.com">My Account</a>
            <a href="/changelog">Updates</a>
        </div>
        <p class="copyright">Copyright 2020, Flatland Group | All Rights Reserved | 501(c)3 47-0795919</p>
    </div>
</footer>
