<header class="header--white">
    <nav class="desktop-nav">
        <ul>
            <li><a href="/about">I'm New</a></li>
            <li id="watch-link"><a href="/sermons">Sermons</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/" class="logo"></a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/give">Give</a></li>
            <li><a href="/groups">Groups</a></li>
            <li>
                <button class="btn__icon">
                    <i class="fas fa-search"></i>
                </button>
            </li>
        </ul>
    </nav>
    <nav class="mobile-nav">
        <a href="/" class="logo"></a>

        <div>
            <button class="btn__icon">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn__icon btn__icon--hamburger">
                <div>
                    <span></span>
                </div>
            </button>
        </div>
    </nav>
    <script>
      if (window.location.pathname === '/') {
        document.querySelector('header').className = "";
      }
    </script>
</header>
