{{ define "main" }}
<section>
    <div class="container container--narrow container__content container--left">
        <h1>Page Not Found</h1>
        <p>Looks like we moved or removed that page. Sorry about that.</p>
        <p>It's always frustrating when the page you want isn't there. But do you know what page you always want to be on?</p>
        <p>*sits in chair wrong*</p>
        <p>The Lamb's Book of Life. Turn with me in your Bibles...</p>
        <div class="spacer" style="--top: 2">
            <a href='{{ "/" | relURL }}' class="btn btn--primary">Return Home</a>
        </div>
    </div>
</section>
{{ end }}
