{{ define "main" }}
<section>
    <div class="container container__content">
        <h1>{{ .Title }}</h1>
        <button class="btn btn--gray" id="filter-toggle">Filter</button>
        <aside class="events-filter">
            <h3>Filter events</h3>
            <h4>Locations</h4>
            <ul id="locations" class="filter__list">

            </ul>
            <h4>Categories</h4>
            <ul id="categories" class="filter__list">

            </ul>
        </aside>
        <div class="events">
            <div class="events__container" id="events-container">
                {{ with .Params.EmptyReason }}
                    <h2>{{ . }}</h2>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<script type="text/template" id="event-template">
    <div class="event-card">
        <a href="{permalink}">
            <div class="event-card__img">
                <img src="{image}" alt="{imageAlt}" />
            </div>
            <h2>{title}</h2>
            <span class="tag event-card__category tag--{categoryClass}">{category}</span>
            <div class="event-card__meta">
                <div>
                    <span class="far fa-calendar"></span>
                    <span>{day}</span>
                </div>
                <div>
                    <span class="fas fa-map-marker-alt"></span>
                    <span>{locations}</span>
                </div>
            </div>
            <p>{description} &mldr;</p>
        </a>
    </div>
</script>
<script>
    const makeListItem = (type) => (val) => {
      const li = document.createElement('li');
      li.dataset.type = type;

      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.id = (`${type}-${val}`).replace(/\s/g, '-');
      checkbox.className = 'filter-list-item';

      const label = document.createElement('label');
      label.htmlFor = checkbox.id;
      label.innerText = val;

      li.append(checkbox, label);

      return li;
    };

    const render = (events, filters) => {
        const template = document.getElementById('event-template').innerText;
        document.getElementById('events-container').innerHTML = events
          .filter(({ category, location }) => {
            const isCategory = filters.category.includes(category);
            const isLocation = location.some((loc) => filters.location.includes(loc));

            if (!filters.category.length && !filters.location.length) return true;

            return isCategory || isLocation;
          })
          .sort((a, b) => {
            if (a.startDate > b.startDate) return 1;
            if (b.startDate > a.startDate) return -1;
            return 0;
          })
          .map((event) => {
              return window.templite(template, {
                day: event.day,
                locations: event.location.join(' | '),
                title: event.title,
                image: event.image,
                imageAlt: event.imageAlt || `${event.title} poster`,
                description: event.description.slice(0, 130),
                permalink: event.permalink,
                category: event.category,
                categoryClass: event.category.toLowerCase().replace(/\s/g, '-'),
              });
            })
          .join('\n');
    };

  !async function() {
    const events = await fetch(`/events/index.json`).then((d) => d.json());
    const currentEvents = events.filter(({ startDate }) => {
      const eventDate = new Date(`${startDate}-05:00`).toISOString();
      const now = new Date().toISOString();
      return now <= eventDate;
    });

    const categories = currentEvents.reduce((acc, { category }) => acc.includes(category) ? acc : [...acc, category], []).sort();
    const locations = currentEvents.reduce((acc, { location }) => {
      location.forEach((loc) => {
        if (!acc.includes(loc)) {
            acc.push(loc);
        }
      });
      return acc;
    }, []).sort();

    document.getElementById('locations').append(...locations.map(makeListItem('location')));
    document.getElementById('categories').append(...categories.map(makeListItem('category')));

    const filters = {
      location: [],
      category: [],
    };

    document.querySelectorAll('.filter-list-item').forEach((el) => {
      el.addEventListener('change', (e) => {
        const type = e.target.parentElement.dataset.type;
        const label = e.target.parentElement.querySelector('label').innerText;
        if (e.target.checked) {
          filters[type].push(label);
        } else {
          filters[type] = filters[type].filter((d) => d !== label);
        }
        render(currentEvents, filters);
      });
    });

    render(currentEvents, filters);

    document.getElementById('filter-toggle').addEventListener('click', () => {
      const el = document.querySelector('aside.events-filter');
      const open = el.className.split(' ').includes('open');
      el.className = open ? 'events-filter' : 'events-filter open';
    });
  }();
</script>
{{ end }}
