{{ define "main" }}
<section class="jumbotron--single">
    <img src="{{ .Params.Image }}" />
    <div class="overlay"></div>
    <div class="jumbotron__content">
        <h1>{{ .Title }}</h1>
    </div>
</section>
<section>
    <div class="container container__content container--aside">
        <div class="event__aside">
            {{ partial "event-aside" . }}
        </div>
        <div>
            {{ .Content | safeHTML }}
            {{ with .Params.Action }}
            <div class="spacer" style="--top: 2">
                <a href="{{ .Url }}" class="btn btn--primary">{{ .Label }}</a>
            </div>
            {{ end }}
        </div>
        <aside class="event__aside">
            {{ partial "event-aside" . }}
        </aside>
    </div>
</section>
{{ end }}
