<form id="shortcode-form">
</form>

<script src="/sendForm.js"></script>
<script data-form-id='{{- .Get "id" -}}' id="getter">
  function createHeader(title, content) {
    const div = document.createElement('div');
    div.className = 'section-header';

    const h2 = document.createElement('h2');
    h2.innerText = title;

    div.append(h2);

    if (content) {
      const textWrapper = document.createElement('div');
      textWrapper.className = 'header-content';
      content.split('\n').forEach((c) => {
        const span = document.createElement('span');
        span.innerText = c;
        textWrapper.append(span);
      });
      div.append(textWrapper);
    }

    return div;
  }

  function createInput(label, id, textarea, description, required, type = 'text') {
    const div = document.createElement('div');

    const labelEl = document.createElement('label');
    labelEl.innerText = label;
    labelEl.htmlFor = id;
    labelEl.className = required ? 'required' : '';
    div.append(labelEl);

    const input = document.createElement(textarea ? 'textarea' : 'input');
    input.id = id;
    input.required = required;
    input.name = id;
    if (!textarea) {
      input.type = type;
    }
    div.append(input);

    if (description) {
      const span = document.createElement('span');
      span.innerText = description;
      span.id = `${id}-helptext`;
      input.describedBy = span.id;
      div.append(span);
    }

    return div;
  }

  function createSelect(label, id, options, description, required) {
    const div = document.createElement('div');

    const labelEl = document.createElement('label');
    labelEl.innerText = label;
    labelEl.htmlFor = id;
    labelEl.className = required ? 'required' : '';
    div.append(labelEl);

    const select = document.createElement('select');
    select.id = id;
    select.required = required;
    select.name = id;

    [{ value: '', label: '' }, ...options].forEach(({ value, label }) => {
      const optionEl = document.createElement('option');
      optionEl.value = value;
      optionEl.innerText = label;
      select.append(optionEl);
    });

    if (description) {
      const span = document.createElement('span');
      span.innerText = description;
      span.id = `${id}-helptext`;
      select.describedBy = span.id;
      div.append(span);
    }

    div.append(select);

    return div;
  }

  function createCheckboxGroup(label, id, options, description, required) {
    const div = document.createElement('div');

    const labelEl = document.createElement('label');
    labelEl.innerText = label;
    labelEl.htmlFor = id;
    labelEl.className = required ? 'required' : '';
    div.append(labelEl);

    if (description) {
      const span = document.createElement('span');
      span.innerText = description;
      span.id = `${id}-helptext`;
      span.className = 'helptext';
      div.describedBy = span.id;
      div.append(span);
    }

    options.forEach(({ id: optionId, label: optionLabel }) => {
      const optionDiv = document.createElement('div');

      const checkbox = document.createElement('input');
      checkbox.type = 'checkbox';
      checkbox.id = optionId;
      checkbox.name = optionId;
      checkbox.dataset.parentId = id;
      optionDiv.append(checkbox);

      const checkboxLabel = document.createElement('label');
      checkboxLabel.innerText = optionLabel;
      checkboxLabel.htmlFor = optionId;
      optionDiv.append(checkboxLabel);

      div.append(optionDiv);
    });

    return div;
  }

  function createPersonFields() {
    const personGridRow = document.createElement('div');
    personGridRow.className = 'row';
    personGridRow.append(createInput('First Name', 'firstName', false, '', true));
    personGridRow.append(createInput('Last Name', 'lastName', false, '', true));

    const div = document.createElement('div');

    div.append(personGridRow);
    div.append(createInput('Email Address', 'email', false, '', true, 'email'));
    return div;
  }

  function createButton(label) {
    const button = document.createElement('button');
    button.setAttribute('type', 'submit');
    button.className = 'btn btn--primary';
    button.innerText = label;
    button.id = 'submit-btn';
    return button;
  }

  function addFields(form, included) {
    return function ({ attributes, id }) {
      switch (attributes.field_type) {
        case 'heading': {
          const el = createHeader(attributes.label, attributes.description);
          form.append(el);
          break;
        }
        case 'text':
        case 'string': {
          const el = createInput(
            attributes.label,
            id,
            attributes.field_type === 'text',
            attributes.description,
            attributes.required,
          );
          form.append(el);
          break;
        }
        case 'dropdown': {
          const options = included.filter(
            ({ type, relationships }) =>
              type === 'FormFieldOption' && relationships.form_field.data.id === id,
          );
          const el = createSelect(
            attributes.label,
            id,
            options.map(({ attributes, id }) => ({ value: id, label: attributes.label })),
            attributes.description,
            attributes.required,
          );
          form.append(el);
          break;
        }
        case 'checkboxes':
        case 'workflow_checkboxes': {
          const options = included.filter(
            ({ type, relationships }) =>
              type === 'FormFieldOption' && relationships.form_field.data.id === id,
          );
          const el = createCheckboxGroup(
            attributes.label,
            id,
            options.map(({ id, attributes }) => ({ label: attributes.label, id })),
            attributes.description,
            attributes.required,
          );
          form.append(el);
          break;
        }
        default: {
          console.log(attributes);
        }
      }
    };
  }

  async function handleSubmit(e) {
    e.preventDefault();
    const { target } = e;
    const body = {
      person: {},
      fields: [],
    };

    for (const field of target) {
      if (field.name) {
        if (['firstName', 'lastName', 'email'].includes(field.name)) {
          body.person[field.name] = field.value;
        } else {
          if (field.type === 'select-one') {
            const option = field.options[field.selectedIndex];
            if (option.value) {
              body.fields.push({
                id: field.id,
                value: option.value,
              });
            }
          } else if (field.type === 'checkbox') {
            if (field.checked) {
              body.fields.push({
                id: field.dataset.parentId,
                value: field.id,
              });
            }
          } else if (field.value) {
            body.fields.push({
              id: field.name,
              value: field.value,
            });
          }
        }
      }
    }

    try {
      await sendForm(target.dataset.id, body);
    } catch (e) {}

    const btn = target.querySelector('button');
    btn.innerText = 'Saved!';
    btn.disabled = true;
  }

  !async function() {
      const id = parseInt(document.getElementById('getter').dataset.formId.trim(), 10);
      const { data, included } = await fetch(`/.netlify/functions/forms?id=${id}`).then((d) => d.json());

      const form = document.getElementById('shortcode-form');
      form.id = id;
      form.append(createPersonFields());
      data.forEach(addFields(form, included));
      form.append(createButton('Submit'));
      form.addEventListener('submit', handleSubmit);

      console.log(data);
    }();
</script>
